@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');
.background{
  background-color:#E6E6E6;
}
.img{
   position: relative;
   background-image: url('img/title.jpg');background-repeat: no-repeat;
   height: 40vh;
   background-size: cover;
}
.img .content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
#benefit{
  background-color:#FBEFFB;
  text-align: center;
  font-weight: bold;
}
#prodcut{
 background-color:#B40431;
 text-align: center;
}
/* 리뷰 */
#reviewPoint{
  background-color:#FBEFFB;
  text-align: center;
}
#reviewTitle{
  background-color:#FBEFFB;
  font-weight:bold;
  text-align: center;
}
#reviewBox{
  background-color:#FBEFFB;
}
#share{
 background-color:#B40431;
 color:white;
 text-align: center;
}
#preview{
 background-color:#B40431;
 color:white;
 text-align: center;
}
.carousel-caption{
  background-color:#B40431;
  opacity:0.9;
}
#productTitle{
  background-color:white;
}
#productDetail{
  background-color:white;
  text-align:center;
}
#registrationForm{
  text-align:left;
}
#warning{
  text-align:left;
}
.space{
  background-color:#E6E6E6;
}
